#include "../include/resource.h"

FNT_NOTO_SANS IMAGE "./NotoSansMono-Regular.ttf"

IMG_BG_LOAD IMAGE "./bg_load.png"
IMG_BG_MAINMENU IMAGE "./bg_mainmenu.png"
IMG_BG_MAINMENU_OVER IMAGE "./bg_mainmenu_over.png"
IMG_BG_TUTORIAL IMAGE "./bg_tutorial.png"
IMG_BG_KEIDAI IMAGE "./bg_keidai.png"
IMG_BG_CLOUD0 IMAGE "./bg_cloud0.png"
IMG_BG_CLOUD1 IMAGE "./bg_cloud1.png"

IMG_UI_FRAME IMAGE "./ui_frame.png"
IMG_UI_BOX IMAGE "./ui_box.png"
IMG_UI_BOX_DEST IMAGE "./ui_box_dest.png"
IMG_UI_BOX_DETAIL IMAGE "./ui_box_detail.png"
IMG_UI_MAINMENU IMAGE "./ui_mainmenu.png"

IMG_BU_SELF0 IMAGE "./bu_self0.png"
IMG_BU_HUDA IMAGE "./bu_huda.png"

IMG_CH_ATARI IMAGE "./ch_atari.png"
IMG_CH_SLOWCIRCLE IMAGE "./ch_slowcircle.png"
IMG_CH_MARISA_B0 IMAGE "./ch_marisa_b0.png"
IMG_CH_MARISA_B1 IMAGE "./ch_marisa_b1.png"
IMG_CH_MARISA_B2 IMAGE "./ch_marisa_b2.png"
IMG_CH_MARISA_B3 IMAGE "./ch_marisa_b3.png"
IMG_CH_MARISA_R0 IMAGE "./ch_marisa_r0.png"
IMG_CH_MARISA_R1 IMAGE "./ch_marisa_r1.png"
IMG_CH_MARISA_L0 IMAGE "./ch_marisa_l0.png"
IMG_CH_MARISA_L1 IMAGE "./ch_marisa_l1.png"
IMG_CH_FAIRY_R0 IMAGE "./ch_fairy_r0.png"
IMG_CH_FAIRY_R1 IMAGE "./ch_fairy_r1.png"

IMG_TC_MARISA0 IMAGE "./tc_marisa0.png"
IMG_TC_MARISA1 IMAGE "./tc_marisa1.png"
IMG_TC_MARISA2 IMAGE "./tc_marisa2.png"
